$color-buttons: #333;
$color-font: #ffd;

.carousel-cell {
    width: 100%;
    height: 50vh;
    min-height: 250px;
    margin-right: 10px;
    background-size: cover;
}

.container {
    max-width: 1200px;
    text-align: center;

    h2 {
        color: $color-font;
    }
}

a {
    font-size: 22px;
    color: $color-font;
    background-color: $color-buttons;
    margin: 5px 5px 0 5px;
    padding: 10px 10px 0 10px;
    text-decoration: none;
}

.restart-group {
    position: absolute;
}

.restart-button {
    position: relative;
    bottom: 50vh;
    left: 0px;
    font-size: 22px;
    background: $color-buttons;
    color: $color-font;
}

.button-group {
    margin-bottom: 20px;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: $color-buttons;
}