$color-buttons: #333;
$color-font: #ffd;

.carousel-cell {
    width: 100%;
    height: 50vh;
    min-height: 250px;
    margin-right: 10px;
    background-size: cover;
}

.container {
    max-width: 1200px;
    text-align: center;

    h2 {
        color: $color-font;
    }
}

a {
    font-size: 22px;
    color: $color-font;
    background-color: $color-buttons;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}